.head1 {
    font-size: x-large;
    font-weight: 500;
}

.divScreen {
    @media screen and (max-width: 1020px) {
        display: hidden;
    }
}

.all {
    font-size: medium;
    line-height: 40px;
    font-weight: 300;
}